* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

}

.row {
    text-align: center;    
}

.item {
    background-color: lightblue;
    width: 310px;
    height: 490px;
    display: inline-block;
    margin: 4px;
    text-align: left;
}

.item img {
    width: 100%;
}

.item img:nth-child(2) {
    display: none;
}

.item:hover img:nth-child(2) {
    display: inline-block;
}

.item:hover img:first-child {
    display: none;
}

.item-price-new, .item-price-old {
    display: inline-block;
}

.item-price-new {
    color: red;
}

.item-price-old {
    text-decoration: line-through;
}

.item-name {
    text-transform: uppercase;
}